#logo{
  width: 200px;
  height: 200px;
  display: block;

  margin: auto;

}
#header{
  background-image: url("../img/landing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
#opening{
  text-align: : center;
  font-family: fantasy;
  font-size: 27px;
}
.fastfood{
  float: right;


}
button{
  background-color: white;
  color:orange;
  border: 2px solid;
}
.drinks{
  padding: inherit;
  padding-top: 80px;
}
#foodselection{
  background-image: url("../img/foodsBg.jpg");

}
#customerfeedback{

  border: outset;
  margin: 100px;
}
.customerfeedback{
  align-items: center;
}
#subscriptionrequest{
  background-image: url("../img/subscribe.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  margin: 0%;
}
#subscription{
  text-align: center;
  font-size: 23px;
  color: white;
}
#customeremail{
  padding-left: 500px;
}
#breakfast{
  background-image: url("../img/breakfast.jpg");
  height: 150px;
}
#lunch{
  background-image:url("../img/lunch.jpg");
  height: 150px;
}
#dinner{
  background-image: url("../img/dinner.jpg");
  height: 150px;
}
.merriweather{
  font-family: 'Merriweather', serif;
  text-align: center;
}
#fastfoods{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
#fastfoodpics{
  border: outset;
}
#drinkspics{
  border: outset;
}
